:root{
    --primaryColor: #82db84;
    --secondaryColor: #587750;
    --otherPrimaryColor: #d58c70;
    --otherSecondaryColor: #d9bd57;
    --fontColor: #6CADA7;
    --darkColor: #282828;
    --otherDarkColor: #7c7774;
    --lightColor: #eeeade;
    --cardColor1: #464ca5;
    --cardColor2: #b23535;
    --cardColor3: #38ad5f;

}

body{
    background: var(--lightColor);
    font-family: arial;
}

#deckOfCard{
    display: flex;
    justify-content: center;
    align-items: center;
}

#deckContainer{
    width: 50%;
    border: 5px solid var(--othePrimaryColor);
    margin: auto;
    margin-top: 2vh;
    border-radius: 1vh;
    background-color: var(--otherPrimaryColor);
    box-shadow: 1px 2px 3px black;
}

#playerContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playBtn{
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 2vh;
    width: 10vw;
    height: 3vw;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--otherDarkColor);
    color: var(--lightColor);
    border: 3px solid var(--otherDarkColor);
    font-weight: bold;
}

#playBtn:hover{
    background-color: var(--darkColor);
    color: var(--otherSecondaryColor);
    border: 3px solid var(--DarkColor);

}

.players{
    display: inline-block;
    text-align: center;
    width: 25vw;
    height: 40vh;
    margin-right: 2vw;
    justify-content: center;
    border-radius: 1vh;
    box-shadow: 2px 2px 5px black;
}

#player1{
    background-color: var(--cardColor1);
}

#player2{
    background-color: var(--cardColor2);
}

#player3{
    background-color: var(--cardColor3);
}

#player4{
    background-color: var(--otherSecondaryColor);
}

.players p{
    font-weight: bold;
}


#deckOfCard img{
    width: 2vh;
}

#deckOfCard td{
    font-size: 1.5vw;
    height: 9vh;
    width: 3vw;
    margin: auto;
    text-align: center;
    background-color: var(--lightColor);
    box-shadow: 2px 1px 5px black;
}

.cardContainer{
    height: 85%;    
    display: block;
}

.playerCard{
    display:inline-flex;
    border: 0.1rem solid black;
    width: 7vh;
    height: 8vh;
    margin: 5px auto;
    align-items: center;
    justify-content: center;
    background-color: var(--lightColor);
    box-shadow: 1px 1px 3px black;
    
}

.playerCard img{
    width: 2vh;
}

#foldCard{
    display: none;
    border: 0.2rem solid black;
    border-radius: 1vh;
    width: 9vw;
    height: 27vh;
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 10%;
    bottom: 15%;
    font-size: 3vw;
    background-color: var(--lightColor);
    box-shadow: 1rem 0.1rem 1rem black;
}

#foldcard img{
    height: 3vw;
    width: 5vw;
}
